# Auto detect text files and perform LF normalization
* text=auto

# TypeScript
*.ts text eol=lf
*.tsx text eol=lf

# JavaScript
*.js text eol=lf
*.jsx text eol=lf

# JSON
*.json text eol=lf

# CSS
*.css text eol=lf

# Markdown
*.md text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf
