.layout {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.body {
  height: calc(100vh - 64px);
}

.sider {
  background: #fafafa;
}

.content {
  background: #fff;
  overflow: hidden;
}
